.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 90, 112);
    height: 15vh;
    padding: 5px;
}

.imageSize{
  height: 100%;
  width: 60%;
}

.header__icon{
    color: white;
}